body {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-size: 20px;

  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

.menu-nav {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px 50px;
  position: relative;
}

.menu-nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.menu-nav li {
  margin-right: 45px;
}

.button {
  color: rgba(255, 255, 255, 0.9);
  padding: 15px 45px;
  background-color: #ff6502;
  position: absolute;
  right: 70px;
  top: 15px;
}

.button:hover {
  background-image: linear-gradient(
    to bottom,
    #ff6502,
    #ff6f00,
    #ff7800,
    #ff8100,
    #ff8902
  );
}

/* TOP BAR */
.topbar {
  position: relative;
  padding: 40px 20px;
  background-color: #5e35b18c;
}

.topbar-content {
  width: 100%;
}

.topbar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/topbar-background-main.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}

.topbar-inf,
.topbar-user,
.topbar-image {
  flex: 1;
}

.topbar-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topbar-user-inf {
  font-size: 16px;
  width: 60%;
  padding-top: 30px;
  font-style: italic;
}

.topbar-user-photo {
  background-image: url("img/user.jpg");
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  opacity: 0.8;
}

.topbar-title {
  font-size: 55px;
}

.topbar-main-image {
  background-image: url("img/main-img.png");
  height: 705px;
  width: 405px;

  -webkit-box-shadow: 5px 5px 66px -9px rgba(0, 0, 0, 0.719);
  -moz-box-shadow: 5px 5px 66px -9px rgba(0, 0, 0, 0.719);
  box-shadow: 5px 5px 66px -9px rgba(0, 0, 0, 0.719);
}

/* PREVEW APP*/

.app-preview {
  width: 100%;
  background-color: #624490f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;

  position: relative;
}

.app-preview::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/drawer-header-bg.jpg");
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

.preview-element {
  width: 400px;
  height: 400px;
  background-size: cover;
}

.preview-element:nth-child(1) {
  background-image: url(img/element1.png);
}

.preview-element:nth-child(2) {
  background-image: url(img/element2.png);
}

.preview-element:nth-child(3) {
  background-image: url(img/element3.png);
}

.preview-element:nth-child(4) {
  background-image: url(img/element4.png);
}

/* PLANSZA STRARTOWA - CO TO, DLA KOGO */

.section-start {
  background-color: #eeecec;
  padding: 60px 0;
}

.section-start-field {
  width: 60%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section-start-content {
  width: 15vw;
  margin: 20px;
}

.board-icon {
  font-size: 70px !important;
  background-image: linear-gradient(
    to bottom,
    #ff6502,
    #ff7614,
    #ff8524,
    #ff9333,
    #ffa042
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.for-whom {
  background-color: #eeececb7;
}

/* style dla planszy CO DAJE FASTFOOD  */

.summary-board {
  padding: 60px 0;
  position: relative;
  background-color: #908f4431;
}

.summary-board::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/summary-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

.summary-subtitle {
  padding: 20px 0;
  font-weight: 600;
  color: #003b36;
  letter-spacing: 2px;
  font-family: "Lato";
}

.summary-basic-inf-name {
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "Lato";
}
.box {
  display: flex;
}

.summary-basic-inf-time-field {
  align-items: center;
  padding-top: 15px;
}

.summary-basic-inf-icon {
  color: #ff8902;
  padding-right: 10px;
}

.box {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}

.summary-basic-inf-recipe {
  flex: 1;
}

.summary-basic-inf-description {
  padding: 35px 30px;
  font-size: 20px;
  flex: 1;
}

.summmary-basic-inf-ingredients {
  padding-top: 25px;
}

.summmary-basic-inf-ingredients li {
  list-style: disc;
}

.summary-data {
  width: 50vw;
  padding: 45px 0;
}

.summary-data-field {
  padding: 10px 0;
  width: 50%;
}

.sumary-data-content {
  flex: 1;
  border-right: 2px solid #ffa042;
}

.summary-data-content-name {
  opacity: 0.6;
  margin-bottom: 10px;
}

.summary-data-content-value {
  font-size: 30px;
}

.summary-plan {
  padding: 40px 0;
  width: 50%;
}

.summary-plan-list {
  margin-top: 30px;
}

.summary-plan-list li {
  padding-bottom: 20px;
  align-items: center;
}

.summary-list-icon {
  padding: 20px;
  background-color: #ffa042;
  border-radius: 50%;
  margin-right: 15px;
}

/* PLANSZE O PERSONACH */

.section-overlay {
  align-items: center;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
}

.section-overlay-persona1 {
  background-color: #eeecec;
}

.section-overlay-persona2 {
  background-color: #d6d6d6;
}

.section-content {
  flex: 1;
}

.section-content-persona2 {
  align-items: flex-end;
}

.section-field {
  align-content: center;
  justify-content: space-evenly;
  width: 70%;
  padding: 20px 0;
}

.section-queries {
  margin-bottom: 55px;
}

.section-description {
  font-size: 22px;
  padding: 20px 30px;
  font-family: "Lato";
}

.section-title {
  font-size: 35px;
  padding: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

/*

.section-title-background {
  background-color: #eeececb7;
}*/

.section-title-query {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ff7402;
  margin-bottom: 45px;
  text-align: left;
}

.slogan {
  color: #000000da;
  font-size: 38px;
}

.section-screen-image {
  width: 350px;
  height: 550px;

  -webkit-box-shadow: 5px 5px 66px -9px rgba(179, 179, 179, 1);
  -moz-box-shadow: 5px 5px 66px -9px rgba(179, 179, 179, 1);
  box-shadow: 5px 5px 66px -9px rgba(179, 179, 179, 1);
}

.summary-board {
  padding: 60px 0;
  position: relative;
  background-color: #4222725b;
}

.summary-board::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/backgroung-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.screen1 {
  background-image: url("img/img1.png");
}

.screen2 {
  background-image: url("img/img2.png");
}

.screen3 {
  background-image: url("img/img3.png");
}

/* style dla NEWSLETTERA/FOOTER*/

.footer {
  background-color: #624490da;
  padding: 50px;
  position: relative;
  color: #eeececb7;
}

.footer:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/drawer-header-bg.jpg");
  background-size: contain;
  width: 90%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.panel-mail {
  justify-content: space-evenly;
  align-items: center;
  width: 35vw;
  margin-top: 25px;
}

.newsletter-content {
  letter-spacing: 1px;
}

.icon-newsletter {
  margin-right: 20px;
  font-size: 45px !important;
}

.newsletter-mail {
  padding: 5px;
}

.input-mail-name {
  margin-right: 20px;
}

.input-mail-name,
.newsletter-mail {
  font-weight: 600;
}

.input-mail-submit {
  padding: 11px;
  background-color: #ff6502;
}

.input-mail-field {
  border: none;
  padding: 10px;
  background-color: #50308b3b;
  border-bottom: 2px solid #02302b;
  color: white;

  width: 350px;
}

.input-mail-field,
.input-mail-submit {
  color: #fff;
}

/*Style dla GALERII*/

.gallery-field {
  padding-top: 50px;
}

.gallery-field {
  background-color: #c7e2e0;
}

.gallery-img {
  width: 24.8vw;
  height: 24.8vw;

  box-sizing: border-box;
  overflow-x: hidden;
}

.gallery-img:nth-child(1) {
  background-image: url("img/food1.jpg");
}

.gallery-img:nth-child(2) {
  background-image: url("img/food2.jpg");
}

.gallery-img:nth-child(3) {
  background-image: url("img/food3.jpg");
}

.gallery-img:nth-child(4) {
  background-image: url("img/food4.jpg");
}

/*style wspólne */

.button,
.topbar-title,
.topbar-slogan,
.section-title,
.summary-basic-inf-name,
.summary-data-content-value,
.input-mail-submit,
.newsletter-mail {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-nav,
.menu-nav li,
.topbar,
.topbar-content,
.topbar-title,
.topbar-slogan,
.topbar-image,
.section-start,
.section-start-field,
.section-start-content,
.summary-board,
.summary-data-field,
.summary-plan,
.sumary-data-content,
.summary-basic-inf,
.summary-basic-inf-time-field,
.summary-data,
.summary-plan-list,
.section-overlay,
.section-content,
.section-field,
.section-queries,
.section-title-field,
.newsletter-content,
.footer,
.newsletter,
.panel-mail,
.gallery-field,
.gallery {
  display: flex;
}

.menu-nav li,
.topbar,
.topbar-content,
.section-start,
.section-start-content,
.summary-board,
.summary-data-field,
.summary-plan,
.sumary-data-content,
.section-title-field,
.newsletter-content,
.footer,
.gallery-field,
.gallery {
  justify-content: center;
  align-items: center;
}

.topbar-title,
.topbar-slogan,
.topbar-image {
  justify-content: center;
}

.section-start,
.section-start-content,
.summary-board,
.summary-data-field,
.summary-plan,
.summary-plan-list,
.sumary-data-content,
.summary-basic-inf,
.section-content,
.section-field,
.section-queries,
.newsletter-content,
.footer,
.gallery-field {
  flex-direction: column;
}

.gallery-img,
.topbar-main-image,
.section-screen-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.section-start-content p,
.summary-subtitle {
  text-align: center;
}

.greater-text {
  font-size: 18px;
}

.small-text {
  font-size: 15px;
}

.white-text {
  color: #eef5f1;
}
