body {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* SECTION NAVIGATION, MENU */

.menu-nav {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px 50px;
  position: relative;
}

.menu-nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.menu-nav li {
  margin-right: 45px;
}

.button {
  padding: 12px 45px;
  background-color: #ff5722;
  position: absolute;
  right: 70px;
  top: 15px;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  background-image: linear-gradient(
    to bottom,
    #ff6502,
    #ff6f00,
    #ff7800,
    #ff8100,
    #ff8902
  );
}

/* SECTION TOP BAR */

.topbar {
  position: relative;
  padding: 40px 20px;
  background-color: #5e35b18c;
}

.topbar-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.topbar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/topbar-background-main.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}

.topbar-inf {
  flex: 2;
}

.topbar-image {
  flex: 1;
}

.topbar-title {
  font-size: 55px;
}

.topbar-slogan {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.icon-start {
  margin-left: 10px;
  font-size: 30px !important;
}

.topbar-main-image {
  background-image: url("img/main-image.png");
  height: 700px;
  width: 400px;
  opacity: 0.8;
  -webkit-mask-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

/*  SECTION PREVEW APP - IMAGE*/

.app-preview {
  width: 100%;
  background-color: #624490f3;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  padding: 0 50px;
  box-sizing: border-box;
  position: relative;
}

.app-preview::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/drawer-header-bg.jpg");
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
  box-sizing: border-box;
}

.preview-element {
  width: 400px;
  height: 400px;
}

.preview-element:nth-child(1) {
  background-image: url(img/element1.png);
}

.preview-element:nth-child(2) {
  background-image: url(img/element2.png);
}

.preview-element:nth-child(3) {
  background-image: url(img/element3.png);
}

.preview-element:nth-child(4) {
  background-image: url(img/element4.png);
}

/* SECTIONS - PERSON 1,2,3 */

.section-overlay {
  align-items: center;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
}

.section-content {
  flex: 1;
}

.content-aligin-persona2 {
  align-items: flex-end;
}

.section-field {
  align-content: center;
  justify-content: space-evenly;
  width: 70%;
  padding: 20px 0;
}

.section-queries {
  margin-bottom: 55px;
  font-size: 19px;
}

.section-description {
  font-size: 22px;
}

.section-title {
  font-size: 35px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.section-title-query {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ff5722;
  margin-bottom: 45px;
  text-align: left;
}

.slogan {
  color: #000000da;
  font-size: 38px;
}

.section-screen-image {
  width: 350px;
  height: 550px;

  -webkit-box-shadow: 5px 5px 66px -9px rgba(179, 179, 179, 1);
  -moz-box-shadow: 5px 5px 66px -9px rgba(179, 179, 179, 1);
  box-shadow: 5px 5px 66px -9px rgba(179, 179, 179, 1);
}

.screen1 {
  background-image: url("img/img1.png");
}

.screen2 {
  background-image: url("img/img2.png");
}

.screen3 {
  background-image: url("img/img3.png");
}

/* SECTIONS - FOR WHOM, WHAT */

.section-start {
  padding: 60px 0;
}

.section-start-field {
  width: 60%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section-start-content {
  width: 15vw;
  margin: 20px;
  flex-wrap: wrap;
}

.board-icon {
  font-size: 70px !important;
  background-image: linear-gradient(
    to bottom,
    #ff6502,
    #ff7614,
    #ff8524,
    #ff9333,
    #ffa042
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SECTION - RECIPE */

.summary-board {
  padding: 60px 0;
  position: relative;
  /*background-color: rgba(84, 49, 143, 0.6);*/
  background-color: rgba(71, 39, 126, 0.5);
}

.summary-board::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /*background-image: url("img/summary-background.jpg");*/
  background-image: url("img/ananas.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

.summary-subtitle {
  padding: 20px 0;
  font-weight: 600;
  color: #003b36;
  letter-spacing: 2px;
}

.summary-basic-inf-name {
  font-size: 24px;
  letter-spacing: 2px;
}

.summary-basic-inf-time-field {
  align-items: center;
  padding-top: 15px;
}

.summary-basic-inf-icon {
  color: #ff8902;
  padding-right: 10px;
}

.summary-field {
  width: 70vw;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}

.summary-basic-inf-recipe {
  flex: 1;
}

.summary-basic-inf-description {
  padding: 35px 30px;
  font-size: 20px;
  flex: 1;
}

.summmary-basic-inf-ingredients {
  padding-top: 25px;
}

.summmary-basic-inf-ingredients li {
  list-style: disc;
}

.summary-data {
  padding: 45px 0;
  width: 50vw;
}

.summary-data-field {
  padding: 10px 0;
  width: 50%;
}

.summary-data-content {
  flex: 1;
  border-right: 2px solid #ffa042;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-data-content-name {
  opacity: 0.6;
  margin-bottom: 10px;
}

.summary-data-content-value {
  font-size: 30px;
}

.summary-plan {
  padding: 0 0;
}

.summary-plan-list {
  margin-top: 30px;
  align-content: space-between;
  justify-content: center;
  padding-top: 30px;
  width: 60vw;
}

.summary-plan-list li {
  align-items: center;
  flex: 1;
  text-align: center;
}

.summary-list-icon {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffa042;
  border-radius: 50%;
  font-size: 70px !important;
}

/* SECTION NEWSLETTER/FOOTER*/

.footer {
  background-color: #624490e1;
  padding: 50px;
  position: relative;
  color: #ffffffee;
}

.footer:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/drawer-header-bg.jpg");
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.panel-mail {
  justify-content: space-evenly;
  align-items: center;
  width: 42vw;
  flex-wrap: wrap;
}

.newsletter-content {
  letter-spacing: 1px;
}

.newsletter-mail {
  padding: 5px;
}

.input-mail-name {
  margin-right: 20px;
}

.input-mail-name,
.newsletter-mail {
  font-weight: 600;
}

.input-mail-submit {
  padding: 8px 30px;
  background-color: #ff5722;
}

.input-mail-field {
  border: none;
  padding: 10px;
  background-color: #50308b3b;
  border-bottom: 2px solid #02302b;
  width: 350px;
}

.input-mail-field,
.input-mail-submit {
  color: #fff;
}

/* CONNON STYLE */

.button,
.input-mail-submit {
  border-radius: 25px;
}

.button,
.topbar-title,
.topbar-slogan,
.section-title,
.summary-basic-inf-name,
.summary-data-content-value,
.input-mail-submit,
.newsletter-mail {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-nav,
.menu-nav li,
.topbar,
.topbar-content,
.topbar-title,
.topbar-slogan,
.topbar-image,
.section-start,
.section-start-field,
.section-start-content,
.summary-board,
.summary-data-field,
.summary-plan,
.sumary-data-content,
.summary-basic-inf,
.summary-basic-inf-time-field,
.summary-data,
.summary-plan-list,
.summary-plan-list li,
.section-overlay,
.section-content,
.section-field,
.section-queries,
.section-title-field,
.newsletter-content,
.footer,
.newsletter,
.panel-mail,
.gallery-field,
.gallery,
.app-preview,
.summary-field,
.summary-data-content {
  display: flex;
}

.menu-nav li,
.topbar,
.topbar-content,
.section-start,
.section-start-content,
.summary-board,
.summary-data-field,
.summary-plan,
.sumary-data-content,
.section-title-field,
.newsletter-content,
.footer,
.gallery-field,
.gallery {
  align-items: center;
}

.topbar-title,
.topbar-slogan,
.topbar-image {
  justify-content: center;
}

.section-start,
.section-start-content,
.summary-board,
.summary-data-field,
.summary-plan,
.summary-plan-list li,
.sumary-data-content,
.summary-basic-inf,
.section-content,
.section-field,
.section-queries,
.newsletter-content,
.footer,
.gallery-field {
  flex-direction: column;
}

.topbar::after,
.topbar-main-image,
.preview-element,
.summary-board::after,
.gallery-img,
.topbar-main-image,
.section-screen-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.section-start-content p,
.summary-subtitle {
  text-align: center;
}

.small-text {
  font-size: 18px;
}

.white-text {
  color: #eef5f1;
}
#slimming {
  background: #f9f9f9;
}

#variety {
  background: #f9f9f9;
}

#about {
  background: #ffffff;
}

#mass {
  background: #ffffff;
}

@media only screen and (max-width: 1400px) {
  * {
    overflow-x: hidden !important;
  }

  .app-preview {
    display: none;
  }

  .menu-nav li {
    font-size: 16px;
  }

  .button {
    border-radius: 25px;
    top: 120px;
    z-index: 100;
  }

  .section-title {
    padding: 20px;
  }

  .input-mail-name,
  .input-mail-field,
  .input-mail-submit {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .menu-nav li {
    display: none;
  }

  .menu-nav {
    padding: 50px;
  }

  .button {
    top: 15px;
  }

  .section-overlay,
  .summary-field {
    flex-direction: column;
  }

  .section-content-persona1,
  .section-content,
  .section-content-persona2 {
    align-items: center;
  }

  .section-start-field {
    width: 70vw;
  }

  .section-overlay-persona2 {
    flex-direction: column-reverse;
  }

  .topbar {
    padding: 40px 20px;
    width: 100vw;
    height: 60vh;
    box-sizing: border-box;
  }

  .topbar-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .topbar-inf {
    flex: 2;
  }

  .topbar-image {
    flex: 1;
    display: none;
  }

  .topbar-title {
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }

  .topbar-slogan {
    margin-top: 90px;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }

  .section-title {
    padding: 5px;
  }

  .summary-board::after {
    background-image: url("img/ananas-mobile.jpg");
  }

  .summary-data {
    width: 70vw;
  }

  .summary-data {
    padding: 45px 0;
  }

  .summary-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }

  .summary-data-content {
    display: grid;
    justify-content: center;
    align-items: center;
    align-items: center;
    border: none;
  }

  .summary-data-content-name {
    font-size: 11px;
    margin: 0;
    padding: 0;
  }

  .summary-data-content-value {
    font-size: 26px;
    text-align: center;
  }

  .summary-basic-inf-description {
    padding: 10px;
  }

  .summary-subtitle {
    padding: 2px;
    font-size: 16px;
  }

  .summary-list-icon {
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: #ffa042;
    border-radius: 45%;
    font-size: 20px !important;
  }

  .summary-plan-list li {
    font-size: 16px;
  }

  .section-start-field {
    flex-direction: column;
  }

  .section-start-field {
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .section-start-content {
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
  }

  .button,
  .topbar-slogan {
    border-radius: 25px;
  }

  .summary-data-field,
  .summary-plan,
  .summary-data,
  .summary-plan-list,
  .section-title,
  .section-start-content {
    width: 90vw;
  }
}
