
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-ok-circle:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-down-circle:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-facebook-circled-1:before { content: '\f051'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */